@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

body {
  font-size: 16px;
  background: white;
  color: #48006c;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  padding: 1%;
}

header {
  padding: 1%;
  float: left;
}

nav {
  float: right;
  padding: 1%;
}

nav li {
  display: inline-block;
  cursor: pointer;
}

nav li .link {
  text-decoration: none;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.active {
  color: black;
  opacity: 1;
}

.App-content {
  padding: 0% 5%;
}

.App-content > div {
  padding: 1%;
}

.about-text {
  margin-top: 10%;
  background: #dedada;
  padding: 5%;
}

.job {
  text-align: left;
}

.resume-content {
  background-color: #48006c;
  color: #dedada;
  padding: 5%;
}

@media only screen and (min-width: 768px) {
  .App-content {
    padding: 0% 20%;
  }
  
  .about-text {
    padding: 1%;
  }

  .resume-content {
    margin-left: 30%;
    padding: 1%;
  }
}

.resume-title {
  width: fit-content;
}

.resume-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  text-align: left;
}

.contact {
  text-align: left;
}

.contact .email{
  color:#000000;
}

.contact li a{
  color:darkblue;
}