@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

html, body {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: white;
  color: #48006c;
  font-family: 'Open Sans', sans-serif;
}

.content {
  max-width: 80%;
}

.about-text {
  border: 1px solid;
  background: #dedada;
  padding: 5%;
}